.inputDIv {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.addTransaction {
  grid-column: 1 /-1;
  background-color: #2d60ff;
  border-radius: 10px;
  width: 100%;
  border-width: 0;
  height: 35px;
  color: white;
  font-style: inter;
  font-weight: 500;
}

.head {
  display: flex;
  justify-content: space-between;
}

.closeButton {
  background-color: white;
  border-width: 0px;
  height: 0px;
  width: 0px;
  cursor: pointer;
}
.field {
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border-width: 1px;
  border-color: #dfeaf2;
}

.transactionHeading {
  color: #333b69;
  font-family: Inter;
}
.fieldNames {
  color: #505887;
  padding-bottom: 8px;
  font-family: inter;
}
