.inputDIv {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addTransaction {
  grid-column: 1 /-1;
  background-color: #2d60ff;
  border-radius: 10px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.closeButton {
  background-color: white;
  border-width: 0px;
  height: 0px;
  width: 0px;
  cursor: pointer;
}
.field {
  height: 40px;
  border-radius: 10px;
  background-color: white;
  border-width: 1px;
  border-color: #dfeaf2;
}
