.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sideBarComponentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  max-height: 100%;
  min-height: 100vh;
  border-right: 1px solid #e2e2e2;
}

.boardsContainer {
  height: 70px;
}

.logoAndBoards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  margin-top: 30px;
  cursor: pointer;
}

.money {
  color: #f89a23;
  font-family: Poppins;
  font-size: 19.66px;
  font-weight: 800;
  padding-right: 5px;
}
.matters {
  color: #02969c;
  font-family: Poppins;
  font-size: 19.66px;
  font-weight: 800;
}

.moneyMatters {
  padding-left: 11px;
}
