.transactionHeader {
  min-height: 9%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 26px;
}

.transactionPagesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
